[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BinaryEMVS"]
	path = BinaryEMVS
	url = https://github.com/cran/BinaryEMVS
[submodule "OBMbpkg"]
	path = OBMbpkg
	url = https://github.com/cran/OBMbpkg
